@import '/src/assets/vars';
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* bootstrap customizations */
$theme-colors: (
  'primary': $color-norway,
  'secondary': $color-flesh,
  'warning': $color-tangerine,
  'danger': $color-mandy
);

/* import bootstrap to set changes */
@import '~bootstrap/scss/bootstrap';

body {
  background-color: $color-space;
  color: lighten($color-flesh, 5%);
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
